.main_movie {
    .movie_container {
        height: auto;
        // width: 93%;
        padding: 0px 50px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .demo {
            margin: 10px 20px;

            img {
                height: 400px;
                width: 100%;
            }

            p {
                font-size: 20px;
                text-align: center;
            }
        }
    }
}