.navbar_cntainer {
    height: 90px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        width: 46%;

        img {
            height: 50px;
            width: 150px;
            margin-left: 100px;
        }
    }

    .right {
        width: 54%;
        // background-color: red;
        display: flex;
        align-items: center;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                list-style: none;
                text-transform: uppercase;
                margin-left: 20px;
                font-size: 14px;
            }
        }

        .search_input {
            margin-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                margin-right: 20px;
                height: 40px;
                width: 180px;
                border-radius: 30px;
                border: none;
                outline: none;
            }

            input::placeholder {
                color: #8c8c8c;
                font-family: sans-serif;
                padding-left: 20px;

                font-size: 15px;
            }


        }

        .user {
            display: flex;
            align-items: center;
            margin-left: 60px;

            .user_profile {
                height: 50px;
                width: 50px;
                background-color: white;
                border-radius: 50%;
                margin-right: 10px;

                img {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    margin-right: 10px;
                    object-fit: cover;
                }
            }
        }
    }
}